fastapi
pydantic-settings
langchain-text-splitters
uvicorn[standard]
arxiv
pymupdf
sentence-transformers
pinecone
rank-bm25
transformers
torch
openai                 # OpenRouter uses OpenAI-compatible SDK
python-dotenv
httpx



