fastapi
pydantic-settings
langchain-text-splitters
uvicorn[standard]
arxiv
pymupdf
sentence-transformers
pinecone
pinecone-text
rank-bm25
transformers
--extra-index-url https://download.pytorch.org/whl/cpu
torch
openai                 # OpenRouter uses OpenAI-compatible SDK
python-dotenv
httpx


